# Base de datos
POSTGRES_USER=FILL_ME
POSTGRES_PASSWORD=FILL_ME
POSTGRES_DB=FILL_ME
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB

# API de YouTube Data v3
YOUTUBE_API_KEY=FILL_ME

# Configuración de la aplicación
APP_NAME=FILL_ME

# Configuración de los modelos
EMOTION_MODEL=UMUTeam/beto-base-emotion-analysis 
SENTIMENT_MODEL=UMUTeam/roberta-spanish-sentiment-analysis